//Grid options
$include-grid: true;                //include grid classes?
$column-number: 12;                 //number of columns
$col-break-medium: 1000px;           //medium responsive breakpoint (max-width)
$col-break-small: 720px;            //small responsive breakpoint (max-width)
$include-padding: true;             //include padding property on grid items
$padding: 20px;                     //padding around each grid item

@if $include-grid {
    
    @for $i from 1 through $column-number {
        $new-width: 8.333% * $i;
        .lg-#{$i} {
            width: $new-width;
        }
    }  
    
    @media screen and (max-width: $col-break-tablet) {
        @for $i from 1 through $column-number {
            .tb-#{$i} {
                $col-medium-width: 8.333% * $i;
                width: $col-medium-width;
            }
        }
    }

    @media screen and (max-width: $col-break-medium) {
        @for $i from 1 through $column-number {
            .md-#{$i} {
                $col-medium-width: 8.333% * $i;
                width: $col-medium-width;
            }
        }
    }
    
    @media screen and (max-width: $col-break-small) {
        @for $i from 1 through $column-number {
            .sm-#{$i} {
                $col-small-width: 8.333% * $i;
                width: $col-small-width;
            }
        }
    }
    
    .col{
        float: left;
        @if $include-padding {
            .col-inner {
                padding: $padding;
                float: none;
            }
        }
    }
    
    .fl{
        float: right;
    }
    
    .grid-row{
        &:after{
            content: "";
            display: block;
            clear: both;
        }
    }
    
